
<button id="toggle-dark-mode" class="p-2 bg-gray-200 dark:bg-gray-700 text-black dark:text-white rounded-lg flex items-center">
    <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600 dark:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2v2m0 16v2m9-9h-2m-16 0H2m3.22-5.22l1.42 1.42m12.02-1.42l1.42 1.42M4.22 16.95l1.42-1.42m12.02 1.42l1.42-1.42M12 5a7 7 0 110 14 7 7 0 010-14z"/>
    </svg>
    <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-grey-500 hidden dark:block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
      </svg>
    <span class="ml-2">Modo</span> <!-- Texto inicial -->
  </button>
  
  
  
  